*{
  box-sizing: border-box; 
}

body {
  font-family: sans-serif;
  background: #e6e6e6;
}

header {
  background: white;
  border-bottom: solid 2px;
  border-color: #d9d9d9;
} 

.name {
  font-family: serif;
  padding: 20px;
  color: white;
  background: #00b3b3;
  font-size: 24px;
  Font-weight: bold;
}
.about {
  font-family:serif;
  font-size: 24px;
  font-weight: bold;
  color: #00b3b3;
  border-bottom: solid;
  border-color: #d9d9d9;
  padding: 10px;
}

.info {
  background: white;
  margin: 20px auto;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #a6a6a6;
}

footer {
  clear:both;
  text-align: center;
  background: #737373;
  color: #bfbfbf;
  padding: 20px;
  border-top: solid 5px;
  border-color: #00b3b3;
  width: 100%;
}